<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WiNodes</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>WINODES</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="maValidation" content="6c9a8339ac27e8e7cf73a30c08719149" />
    <meta name="coinzilla" content="coinzilla-verification" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <link rel="stylesheet" href="~/assets/css/dashboard.css" />
    <link rel="stylesheet" href="~/assets/css/cadastros.css" />
    <link rel="stylesheet" href="~/assets/css/tabsmenu.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="~/css/star-rating.css" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet" />
    <style>
        iframe {
            width: 100% !important;
        }
    </style>
    <!-- script references -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/star-rating.js"></script>
    <script src="../js/comum.js"></script>
    <script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
    <script>(function (i, s, o, g, r, a, m) { i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga'); ga('create', 'UA-93697402-1', 'auto'); ga('send', 'pageview');</script>
    <script>(adsbygoogle = window.adsbygoogle || []).push({ google_ad_client: "ca-pub-8164485089034244", enable_page_level_ads: true });</script>
    <script async="true" type="text/javascript" src="//carnage1301.spider.ad?id=52513"></script>
    <script async src="//www.adserver.winodes.com.br/www/delivery/asyncjs.php"></script>

    <script type="text/javascript">
        function btnBuscaClick() {
            var categoria = $("#slcCategoria").val();
            var palavra = $("#palavraChave").val();

            if (categoria == "Categoria") {
                categoria = "0";
            }
            var link = host + "page/timeline.aspx?filtro=" + palavra + "&categoria=" + categoria;
            window.location.replace(link);
        }
        function preenche(data) {
            var html = "<option>Categoria</option>";
            $.each(data.Result, function (i, categoria) {
                html += "<option value='" + categoria.IdCategoria + "'>" + categoria.Categoria + "</option>"

            });
            $('#slcCategoria').append(html);

        }

        function carregaSelect() {

            comum.get("Comum/CatSelect", null, preenche);
        }

        function carregaUsuario() {

            comum.get("Comum/LoadCookie", null, preencheUser);
        }

        function preencheUser(data) {
            var usuario = data.Result;
            if (usuario.IdUsuario == 0) {
                $("#btnMinhasPublicacoes").hide();
                $("#btnSair").hide();
                $("#btnEscreverArtigo").hide();
                $("#imgPerfil").hide();
                $("#btnFiliados").hide();
            } else {
                $("#btnLogar").hide();
                $("#btnFazerCadastro").hide();
                var nome = usuario.Nome;
                if (nome.Length <= 20) {
                    $("#nomeUser").html(nome);
                } else {
                    $("#nomeUser").html(nome.substring(0, 17) + "...");
                }

                var foto = "";
                if (usuario.FotoPerfilFacebook != null && usuario.FotoPerfilFacebook != "" && usuario.FotoPerfilFacebook != "null") {
                    foto = usuario.FotoPerfilFacebook;
                } else {
                    foto = "../imgFotoPerfil/" + usuario.FotoPerfil;
                }


                var img = document.getElementById('fotoPerfilMaster');
                img.src = foto;

            }



        }

        function irTml() {
            var link = host + "page/timeline.aspx";

            window.location.replace(link);
        }

        function irCdt() {

            var link = host + "Page/cadastrar.aspx";
            window.location.replace(link);
        }

        function irLgn() {

            var link = host + "Page/login.aspx";
            window.location.replace(link);
        }

        function irFaq() {

            var link = host + "Page/faq.aspx";
            window.location.replace(link);
        }

        function irMpb() {

            var link = host + "Page/minhaspublicacoes.aspx";
            window.location.replace(link);
        }

        function irMfd() {

            var link = host + "Page/filiados.aspx";
            window.location.replace(link);
        }

        function irEar() {

            var link = host + "Page/escreverArtigo.aspx";
            window.location.replace(link);
        }

        function sairSite() {
            comum.get("Comum/LogOut", null, irTml);
        }

        function checkaIndicacao() {
            if (comum.queryString("Ind") != "" && comum.queryString("Ind") != null) {

                parametro = {
                    id: comum.queryString("Ind")
                }

                comum.get("Comum/checaIndicacao", parametro, null);
            }


        }

        $(document).ready(function () {
            $("h4").contents().each(function () {
                if ($.trim(this.nodeValue) != "" && this.nodeType == 3) {
                    //console.log($.trim(this.nodeValue))
                    this.nodeValue = $.trim(this.nodeValue).substring(0, 60) + '...'
                }
            });
            checkaIndicacao();
            carregaSelect();
            carregaUsuario();
            setTimeout(function () {
                $('ins').find('img').addClass('img-responsive');
            }, 300);

        });

    </script>

</head>
<body>
    <script src='https://www.anunciad.com.br/table_ad.jsp?u=39929'></script>

    <div class="navbar navbar-fixed-top">
        <a class="navbar-brand" href="../HOME/Index">&nbsp; &nbsp; &nbsp; &nbsp;<img src="../images/logo_transparente.png" style="height: 27px; width: auto; float: right;" /></a>
        <div class="content">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="z-index:999999;">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <button type="button" class="btn btn-primary btn-timeline" onclick="irTml();">TIMELINE</button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary btn-minhaspublicacoes" name="minhaspublicacoes-btn" id="btnMinhasPublicacoes" onclick="irMpb();">MINHAS PUBLICAÇÕES</button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary  btn-minhaspublicacoes" name="escrever-btn" id="btnFiliados" onclick="irMfd();">MEUS FILIADOS</button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary  btn-minhaspublicacoes" name="escrever-btn" id="btnEscreverArtigo" onclick="irEar();">ESCREVER ARTIGO</button>
                    </li>

                    <li>
                        <button type="button" class="btn btn-primary  btn-minhaspublicacoes" name="fazercadastro-btn" id="btnFazerCadastro" onclick="irCdt();">CADASTRE-SE</button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary  btn-minhaspublicacoes" name="logar-btn" id="btnLogar" onclick="irLgn();">ENTRAR</button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary btn-minhaspublicacoes" name="btnFaq-btn" id="btnFaq" onclick="irFaq();">FAQ/CONTATO</button>
                    </li>

                    <li>
                        <button type="button" class="btn btn-primary btn-sair" name="sair-btn" id="btnSair" onclick="sairSite();">SAIR</button>
                    </li>
                    <li id="imgPerfil" runat="server">
                        <a href="#" id="linkPerfil" runat="server">
                            <img id="fotoPerfilMaster" runat="server" src="../images/avatar.png" class="img-responsive borda-redonda" alt="" width="60" height="60" />
                        </a>
                    </li>
                    <li>
                        <a href="#" id="linkPerfilNome" runat="server"> <h5 id="nomeUser" runat="server"></h5></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.container -->
        <div class="container">
            <div class="row">
                <div class="col col-lg-12 col-md-12">
                    <div class="col col-lg-1 col-md-1">
                        <label>FILTRO:</label>
                    </div>
                    <div class="col col-lg-3 col-md-3">
                        <input type="text" placeholder="Palavra Chave" id="palavraChave" />
                    </div>
                    <div class="col col-lg-3 col-md-3">
                        <select id="slcCategoria" style="width:100%;"></select>
                    </div>
                    <div class="col col-lg-2 col-md-2">
                        <input type="button" class="btn btn-primary buscaBtn" value="BUSCAR" id="btnBuscaCategoria" onclick="btnBuscaClick();" />

                        <br>

                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.navbar -->
    <!-- HEADER  =================================-->



    @RenderBody()

</body>
</html>