Bsk.Solution/.vs/
Bsk.Solution/Bsk.BE/bin/
Bsk.Solution/Bsk.BE/obj/
Bsk.Solution/Bsk.DAL/bin
Bsk.Solution/Bsk.DAL/obj/
Bsk.Solution/Bsk.Interface/bin/
Bsk.Solution/Bsk.Interface/obj/
Bsk.Solution/Bsk.Site/bin/
Bsk.Solution/Bsk.Site/obj/
Bsk.Solution/Bsk.Util/bin/
Bsk.Solution/Bsk.Util/obj/
Historico/
.vs/