Bsk.Solution/.vs/Bsk.Solution/config/applicationhost.config
Bsk.Solution/.vs/Bsk.Solution/v16/.suo
Bsk.Solution/Bsk.BE/bin/Debug/Bsk.BE.dll
Bsk.Solution/Bsk.BE/bin/Debug/Bsk.BE.pdb
Bsk.Solution/Bsk.BE/bin/Debug/Newtonsoft.Json.dll
Bsk.Solution/Bsk.BE/bin/Debug/Newtonsoft.Json.xml
Bsk.Solution/Bsk.BE/bin/Debug/System.Net.Http.Formatting.dll
Bsk.Solution/Bsk.BE/bin/Debug/System.Net.Http.Formatting.xml
Bsk.Solution/Bsk.BE/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
Bsk.Solution/Bsk.BE/obj/Debug/Bsk.BE.csproj.CopyComplete
Bsk.Solution/Bsk.BE/obj/Debug/Bsk.BE.csproj.CoreCompileInputs.cache
Bsk.Solution/Bsk.BE/obj/Debug/Bsk.BE.csproj.FileListAbsolute.txt
Bsk.Solution/Bsk.BE/obj/Debug/Bsk.BE.csprojAssemblyReference.cache
Bsk.Solution/Bsk.BE/obj/Debug/Bsk.BE.dll
Bsk.Solution/Bsk.BE/obj/Debug/Bsk.BE.pdb
Bsk.Solution/Bsk.DAL/bin/Debug/Bsk.BE.dll
Bsk.Solution/Bsk.DAL/bin/Debug/Bsk.BE.pdb
Bsk.Solution/Bsk.DAL/bin/Debug/Bsk.DAL.dll
Bsk.Solution/Bsk.DAL/bin/Debug/Bsk.DAL.pdb
Bsk.Solution/Bsk.DAL/bin/Debug/MySql.Data.dll
Bsk.Solution/Bsk.DAL/bin/Debug/Newtonsoft.Json.dll
Bsk.Solution/Bsk.DAL/bin/Debug/Newtonsoft.Json.xml
Bsk.Solution/Bsk.DAL/bin/Debug/System.Net.Http.Formatting.dll
Bsk.Solution/Bsk.DAL/bin/Debug/System.Net.Http.Formatting.xml
Bsk.Solution/Bsk.DAL/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
Bsk.Solution/Bsk.DAL/obj/Debug/Bsk.DAL.csproj.CopyComplete
Bsk.Solution/Bsk.DAL/obj/Debug/Bsk.DAL.csproj.CoreCompileInputs.cache
Bsk.Solution/Bsk.DAL/obj/Debug/Bsk.DAL.csproj.FileListAbsolute.txt
Bsk.Solution/Bsk.DAL/obj/Debug/Bsk.DAL.csprojAssemblyReference.cache
Bsk.Solution/Bsk.DAL/obj/Debug/Bsk.DAL.dll
Bsk.Solution/Bsk.DAL/obj/Debug/Bsk.DAL.pdb
Bsk.Solution/Bsk.Interface/bin/Debug/Bsk.BE.dll
Bsk.Solution/Bsk.Interface/bin/Debug/Bsk.BE.pdb
Bsk.Solution/Bsk.Interface/bin/Debug/Bsk.DAL.dll
Bsk.Solution/Bsk.Interface/bin/Debug/Bsk.DAL.pdb
Bsk.Solution/Bsk.Interface/bin/Debug/Bsk.Interface.dll
Bsk.Solution/Bsk.Interface/bin/Debug/Bsk.Interface.pdb
Bsk.Solution/Bsk.Interface/bin/Debug/MySql.Data.dll
Bsk.Solution/Bsk.Interface/bin/Debug/Newtonsoft.Json.dll
Bsk.Solution/Bsk.Interface/bin/Debug/Newtonsoft.Json.xml
Bsk.Solution/Bsk.Interface/bin/Debug/System.Net.Http.Formatting.dll
Bsk.Solution/Bsk.Interface/bin/Debug/System.Net.Http.Formatting.xml
Bsk.Solution/Bsk.Interface/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
Bsk.Solution/Bsk.Interface/obj/Debug/Bsk.Interface.csproj.CopyComplete
Bsk.Solution/Bsk.Interface/obj/Debug/Bsk.Interface.csproj.CoreCompileInputs.cache
Bsk.Solution/Bsk.Interface/obj/Debug/Bsk.Interface.csproj.FileListAbsolute.txt
Bsk.Solution/Bsk.Interface/obj/Debug/Bsk.Interface.csprojAssemblyReference.cache
Bsk.Solution/Bsk.Interface/obj/Debug/Bsk.Interface.dll
Bsk.Solution/Bsk.Interface/obj/Debug/Bsk.Interface.pdb
Bsk.Solution/Bsk.Site/bin/ApplicationInsights.config
Bsk.Solution/Bsk.Site/bin/Bsk.BE.dll
Bsk.Solution/Bsk.Site/bin/Bsk.BE.pdb
Bsk.Solution/Bsk.Site/bin/Bsk.DAL.dll
Bsk.Solution/Bsk.Site/bin/Bsk.DAL.pdb
Bsk.Solution/Bsk.Site/bin/Bsk.Interface.dll
Bsk.Solution/Bsk.Site/bin/Bsk.Interface.pdb
Bsk.Solution/Bsk.Site/bin/Bsk.Site.dll
Bsk.Solution/Bsk.Site/bin/Bsk.Site.dll.config
Bsk.Solution/Bsk.Site/bin/Bsk.Site.pdb
Bsk.Solution/Bsk.Site/bin/Bsk.Util.dll
Bsk.Solution/Bsk.Site/bin/Bsk.Util.pdb
Bsk.Solution/Bsk.Site/bin/Comtele.Sdk.dll
Bsk.Solution/Bsk.Site/bin/Microsoft.AI.Agent.Intercept.dll
Bsk.Solution/Bsk.Site/bin/Microsoft.AI.DependencyCollector.dll
Bsk.Solution/Bsk.Site/bin/Microsoft.AI.DependencyCollector.xml
Bsk.Solution/Bsk.Site/bin/Microsoft.AI.PerfCounterCollector.dll
Bsk.Solution/Bsk.Site/bin/Microsoft.AI.ServerTelemetryChannel.dll
Bsk.Solution/Bsk.Site/bin/Microsoft.AI.ServerTelemetryChannel.xml
Bsk.Solution/Bsk.Site/bin/Microsoft.AI.Web.dll
Bsk.Solution/Bsk.Site/bin/Microsoft.AI.Web.xml
Bsk.Solution/Bsk.Site/bin/Microsoft.AI.WindowsServer.dll
Bsk.Solution/Bsk.Site/bin/Microsoft.AI.WindowsServer.xml
Bsk.Solution/Bsk.Site/bin/Microsoft.ApplicationInsights.dll
Bsk.Solution/Bsk.Site/bin/Microsoft.ApplicationInsights.xml
Bsk.Solution/Bsk.Site/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
Bsk.Solution/Bsk.Site/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
Bsk.Solution/Bsk.Site/bin/Microsoft.Web.Infrastructure.dll
Bsk.Solution/Bsk.Site/bin/MySql.Data.dll
Bsk.Solution/Bsk.Site/bin/netstandard.dll
Bsk.Solution/Bsk.Site/bin/Newtonsoft.Json.dll
Bsk.Solution/Bsk.Site/bin/Newtonsoft.Json.xml
Bsk.Solution/Bsk.Site/bin/RestSharp.dll
Bsk.Solution/Bsk.Site/bin/RestSharp.xml
Bsk.Solution/Bsk.Site/bin/System.Net.Http.Extensions.dll
Bsk.Solution/Bsk.Site/bin/System.Net.Http.Extensions.xml
Bsk.Solution/Bsk.Site/bin/System.Net.Http.Formatting.dll
Bsk.Solution/Bsk.Site/bin/System.Net.Http.Formatting.xml
Bsk.Solution/Bsk.Site/bin/System.Net.Http.Primitives.dll
Bsk.Solution/Bsk.Site/bin/System.Net.Http.Primitives.xml
Bsk.Solution/Bsk.Site/bin/System.Web.Helpers.dll
Bsk.Solution/Bsk.Site/bin/System.Web.Helpers.xml
Bsk.Solution/Bsk.Site/bin/System.Web.Http.Cors.dll
Bsk.Solution/Bsk.Site/bin/System.Web.Http.Cors.xml
Bsk.Solution/Bsk.Site/bin/System.Web.Mvc.dll
Bsk.Solution/Bsk.Site/bin/System.Web.Mvc.xml
Bsk.Solution/Bsk.Site/bin/System.Web.Razor.dll
Bsk.Solution/Bsk.Site/bin/System.Web.Razor.xml
Bsk.Solution/Bsk.Site/bin/System.Web.Webpages.Deployment.dll
Bsk.Solution/Bsk.Site/bin/System.Web.Webpages.Deployment.xml
Bsk.Solution/Bsk.Site/bin/System.Web.Webpages.dll
Bsk.Solution/Bsk.Site/bin/System.Web.Webpages.Razor.dll
Bsk.Solution/Bsk.Site/bin/System.Web.Webpages.Razor.xml
Bsk.Solution/Bsk.Site/bin/System.Web.Webpages.xml
Bsk.Solution/Bsk.Site/bin/roslyn/csc.exe
Bsk.Solution/Bsk.Site/bin/roslyn/csc.exe.config
Bsk.Solution/Bsk.Site/bin/roslyn/csc.rsp
Bsk.Solution/Bsk.Site/bin/roslyn/csi.exe
Bsk.Solution/Bsk.Site/bin/roslyn/csi.rsp
Bsk.Solution/Bsk.Site/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
Bsk.Solution/Bsk.Site/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
Bsk.Solution/Bsk.Site/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
Bsk.Solution/Bsk.Site/bin/roslyn/Microsoft.CodeAnalysis.dll
Bsk.Solution/Bsk.Site/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
Bsk.Solution/Bsk.Site/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
Bsk.Solution/Bsk.Site/bin/roslyn/Microsoft.CSharp.Core.targets
Bsk.Solution/Bsk.Site/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
Bsk.Solution/Bsk.Site/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
Bsk.Solution/Bsk.Site/bin/roslyn/Microsoft.VisualBasic.Core.targets
Bsk.Solution/Bsk.Site/bin/roslyn/System.AppContext.dll
Bsk.Solution/Bsk.Site/bin/roslyn/System.Collections.Immutable.dll
Bsk.Solution/Bsk.Site/bin/roslyn/System.Diagnostics.StackTrace.dll
Bsk.Solution/Bsk.Site/bin/roslyn/System.IO.FileSystem.dll
Bsk.Solution/Bsk.Site/bin/roslyn/System.IO.FileSystem.Primitives.dll
Bsk.Solution/Bsk.Site/bin/roslyn/System.Reflection.Metadata.dll
Bsk.Solution/Bsk.Site/bin/roslyn/vbc.exe
Bsk.Solution/Bsk.Site/bin/roslyn/vbc.exe.config
Bsk.Solution/Bsk.Site/bin/roslyn/vbc.rsp
Bsk.Solution/Bsk.Site/bin/roslyn/VBCSCompiler.exe
Bsk.Solution/Bsk.Site/bin/roslyn/VBCSCompiler.exe.config
Bsk.Solution/Bsk.Site/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
Bsk.Solution/Bsk.Site/obj/Debug/Bsk.Site.csproj.App.config
Bsk.Solution/Bsk.Site/obj/Debug/Bsk.Site.csproj.CopyComplete
Bsk.Solution/Bsk.Site/obj/Debug/Bsk.Site.csproj.CoreCompileInputs.cache
Bsk.Solution/Bsk.Site/obj/Debug/Bsk.Site.csproj.FileListAbsolute.txt
Bsk.Solution/Bsk.Site/obj/Debug/Bsk.Site.csprojAssemblyReference.cache
Bsk.Solution/Bsk.Site/obj/Debug/Bsk.Site.dll
Bsk.Solution/Bsk.Site/obj/Debug/Bsk.Site.pdb
Bsk.Solution/Bsk.Util/bin/Debug/Bsk.Util.dll
Bsk.Solution/Bsk.Util/bin/Debug/Bsk.Util.pdb
Bsk.Solution/Bsk.Util/bin/Debug/Comtele.Sdk.dll
Bsk.Solution/Bsk.Util/bin/Debug/Microsoft.Win32.Primitives.dll
Bsk.Solution/Bsk.Util/bin/Debug/netstandard.dll
Bsk.Solution/Bsk.Util/bin/Debug/Newtonsoft.Json.dll
Bsk.Solution/Bsk.Util/bin/Debug/Newtonsoft.Json.xml
Bsk.Solution/Bsk.Util/bin/Debug/RestSharp.dll
Bsk.Solution/Bsk.Util/bin/Debug/RestSharp.xml
Bsk.Solution/Bsk.Util/bin/Debug/System.AppContext.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Collections.Concurrent.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Collections.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Collections.NonGeneric.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Collections.Specialized.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.ComponentModel.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.ComponentModel.EventBasedAsync.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.ComponentModel.Primitives.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.ComponentModel.TypeConverter.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Console.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Data.Common.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Diagnostics.Contracts.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Diagnostics.Debug.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Diagnostics.FileVersionInfo.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Diagnostics.Process.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Diagnostics.StackTrace.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Diagnostics.TextWriterTraceListener.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Diagnostics.Tools.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Diagnostics.TraceSource.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Diagnostics.Tracing.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Drawing.Primitives.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Dynamic.Runtime.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Globalization.Calendars.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Globalization.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Globalization.Extensions.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.IO.Compression.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.IO.Compression.ZipFile.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.IO.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.IO.FileSystem.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.IO.FileSystem.DriveInfo.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.IO.FileSystem.Primitives.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.IO.FileSystem.Watcher.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.IO.IsolatedStorage.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.IO.MemoryMappedFiles.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.IO.Pipes.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.IO.UnmanagedMemoryStream.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Linq.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Linq.Expressions.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Linq.Parallel.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Linq.Queryable.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Net.Http.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Net.Http.Formatting.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Net.Http.Formatting.xml
Bsk.Solution/Bsk.Util/bin/Debug/System.Net.NameResolution.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Net.NetworkInformation.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Net.Ping.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Net.Primitives.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Net.Requests.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Net.Security.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Net.Sockets.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Net.WebHeaderCollection.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Net.WebSockets.Client.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Net.WebSockets.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.ObjectModel.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Reflection.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Reflection.Extensions.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Reflection.Primitives.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Resources.Reader.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Resources.ResourceManager.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Resources.Writer.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Runtime.CompilerServices.VisualC.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Runtime.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Runtime.Extensions.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Runtime.Handles.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Runtime.InteropServices.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Runtime.InteropServices.RuntimeInformation.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Runtime.Numerics.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Runtime.Serialization.Formatters.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Runtime.Serialization.Json.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Runtime.Serialization.Primitives.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Runtime.Serialization.Xml.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Security.Claims.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Security.Cryptography.Algorithms.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Security.Cryptography.Csp.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Security.Cryptography.Encoding.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Security.Cryptography.Primitives.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Security.Cryptography.X509Certificates.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Security.Principal.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Security.SecureString.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Text.Encoding.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Text.Encoding.Extensions.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Text.RegularExpressions.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Threading.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Threading.Overlapped.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Threading.Tasks.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Threading.Tasks.Parallel.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Threading.Thread.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Threading.ThreadPool.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Threading.Timer.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.ValueTuple.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Xml.ReaderWriter.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Xml.XDocument.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Xml.XmlDocument.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Xml.XmlSerializer.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Xml.XPath.dll
Bsk.Solution/Bsk.Util/bin/Debug/System.Xml.XPath.XDocument.dll
Bsk.Solution/Bsk.Util/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
Bsk.Solution/Bsk.Util/obj/Debug/Bsk.Util.csproj.CopyComplete
Bsk.Solution/Bsk.Util/obj/Debug/Bsk.Util.csproj.CoreCompileInputs.cache
Bsk.Solution/Bsk.Util/obj/Debug/Bsk.Util.csproj.FileListAbsolute.txt
Bsk.Solution/Bsk.Util/obj/Debug/Bsk.Util.csprojAssemblyReference.cache
Bsk.Solution/Bsk.Util/obj/Debug/Bsk.Util.dll
Bsk.Solution/Bsk.Util/obj/Debug/Bsk.Util.pdb
