@media only screen and (max-width: 600px) {
    .header-site {
        padding: 10px;
        height: auto;
        display: inline!important;
    }
    .header-site img {
        margin: 0 auto!important;
    }
    .header-site .btn {
        width: 100%;
    }
    .banner-site-home {
        padding: 20px;
        background-image: url(../img/fundoHome.png);
        display: inline-flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .banner-site {
        padding: 20px;
        display: inline-flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .banner-site h2 {
        font-size: 25px;
        text-align: center;
        font-weight: bold;
    }
    .corpo-site {
        padding: 20px;
        display: inline;
        align-items: center;
        margin-bottom: 20px;
    }
    .corpo-site h2 {
        text-align: center;
        width: 100%;
        color: #b8272c;
    }
    .link-brikk {
        color: #b8272c!important;
        font-weight: bold;
    }
    .link-brikk {
        color: #b8272c!important;
        font-weight: bold;
        text-decoration: none!important;
    }
    .corpo-site h2 span {
        text-decoration: line-through;
        color: #b8272c;
        letter-spacing: 0!important;
    }
    .btn-brikk {
        background: #b8272c!important;
        border-radius: 5px;
        color: #fff;
    }
    .btn-brikk:hover {
        background: #b8272c!important;
        border-radius: 5px;
        color: #fff;
    }
    .pd-0 {
        padding: 0!important;
    }
    .l100 {
        width: 100%!important;
    }
    .mobile-pd-0 {
        padding: 0!important;
    }
    .mobile-center-txt {
        text-align: center!important;
    }
    .cadstro-site input {
        width: 100%!important;
    }
    .pdl-0 {
        padding: 0!important;
    }
    .pdr-0 {
        padding: 0!important;
    }
    input[type='radio'] {
        text-align: center!important;
    }
    .menuAberto {
        width: 100%!important;
        height: 100%!important;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9;
        background: #ffffff;
        transition: ease all 0.5s;
        overflow: scroll;
    }
    .btn-menu {
        position: fixed;
        right: 20px;
        top: 20px;
        font-size: 25px;
        color: #b8272c;
        cursor: pointer;
    }
    .mr-20 {
        margin: 0!important;
    }
    .btn-pagamento {
        cursor: pointer;
        width: 100%;
    }
    .mensagem {
        width: 100%;
    }
    .btn-upload {
        background: none;
        font-size: 15px;
        color: #b8272c;
        font-weight: bold;
    }
}