/* sfont-face inicio*/

@font-face {
    font-family: 'Raleway-Bold';
    src: url("../fonts/Raleway-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url("../fonts/Raleway-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: 'Raleway-Light';
    src: url("../fonts/Raleway-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url("../fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Raleway-Thin';
    src: url("../fonts/Raleway-Thin.ttf") format("truetype");
}


/* font-face fim*/

html,
body {
    height: 100%;
    min-height: 100%;
    font-family: 'Raleway-Regular';
    color: #d1a647 !important;
}

.pd-0 {
    padding: 0!important;
}

.head1 {
    background: #ffffff;
    height: 50px;
    box-shadow: 0px -20px 15px rgb(90, 90, 90);
    color: #5c7886;
    font-family: 'Raleway-Bold';
    position: fixed;
    z-index: 10;
    top: 0;
}

.head1 .logo img {
    margin-top: 9px;
}

.head1 .usuario {
    line-height: 50px;
    text-align: right;
}

.head1 .usuario .glyphicon {
    cursor: pointer;
}

.menu-usuario {
    background: #5c7886;
    float: right;
    width: 200px;
    padding-top: 20px;
    position: fixed;
    z-index: 9;
    box-shadow: 0px -20px 15px rgb(90, 90, 90);
    right: 0;
    top: 50px;
    border-radius: 3px;
}

.menu-usuario ul li {
    display: inline;
}

.menu-usuario ul li a {
    color: #ffffff;
    cursor: pointer;
    transition: linear all 0.5s;
}

.menu-usuario ul li a:hover {
    color: #ffffff;
    background: salmon;
    transition: linear all 0.5s;
}

.menu-site-mobile {
    background: #5c7886;
    float: left;
    width: 200px;
    padding-top: 20px;
    position: fixed;
    z-index: 9;
    box-shadow: 0px -20px 15px rgb(90, 90, 90);
    left: 0;
    border-radius: 3px;
    top: 50px;
}

.menu-site-mobile ul li {
    display: inline;
}

.menu-site-mobile ul li a {
    color: #ffffff;
    cursor: pointer;
    transition: linear all 0.5s;
}

.menu-site-mobile ul li a:hover {
    color: #ffffff;
    background: salmon;
    transition: linear all 0.5s;
}

.banner {
    width: 100%;
    position: relative;
    z-index: 0;
    margin-top: 50px;
    float: left;
}

.menu-site {
    background: rgba(255, 255, 255, 0.50);
    height: 150px;
    position: fixed;
    z-index: 1;
    box-shadow: 1px 1px 3px rgb(51, 51, 51);
    top: 50px;
    transition: linear all 0.5s;
}

.menu-site .botoes {
    color: #5c7886;
    font-family: 'Raleway-Regular';
    line-height: 150px;
    transition: linear all 0.1s;
}

.menu-site .botoes .btn-menu {
    cursor: pointer;
    font-size: 20px;
    transition: linear all 1s;
}

.menu-site .botoes .btn-menu:hover {
    text-decoration: underline;
    text-underline-position: under;
    font-family: 'Raleway-Bold';
    transition: linear all 1s;
}

.menu-site .cotacao {
    color: #5c7886;
    font-family: 'Raleway-Bold';
    transition: linear all 0.5s;
    margin-top: 55px;
}

.menu-site .cotacao input {
    color: #5c7886;
    height: 34px;
    width: 100%;
    background: transparent;
    border: 1px solid #5c7886;
    padding: 10px;
    border-radius: 5px;
    color: #5c7886;
    font-family: 'Raleway-Bold';
    line-height: 150px;
    transition: linear all 0.5s;
}

.menu-site .cotacao .glyphicon {
    position: absolute;
    top: 10px;
    right: 30px;
    transition: linear all 0.5s;
}

.menu-site .cotacao input::placeholder {
    color: #5c7886;
    transition: linear all 0.5s;
}

.menu-site .cotacao .btn-cotacao {
    color: #ffffff;
    width: 100%;
    background: #5c7886;
    float: right;
    transition: linear all 0.5s;
}

.menu-site .cotacao .btn-cotacao:hover {
    color: #ffffff;
    width: 100%;
    background: salmon;
    float: right;
    transition: linear all 0.5s;
}

.menu-site-pqno .botoes {
    color: #fff!important;
    font-family: 'Raleway-Bold'!important;
    line-height: 50px!important;
    transition: linear all 0.1s;
}

.btn-vender {
    font-size: 25px;
    width: 60%;
    background: #11bb94;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 1px 3px #000;
    transition: all linear 0.5s;
}

.btn-vender:hover {
    font-size: 25px;
    width: 60%;
    background: #11bb3b;
    color: #ffffff;
    font-weight: bold;
    transition: all linear 0.5s;
    box-shadow: -1px -1px 3px #000
}

.btn-comprar {
    font-size: 25px;
    width: 60%;
    background: #4411bb;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 1px 3px #000;
    transition: all linear 0.5s;
}

.btn-comprar:hover {
    font-size: 25px;
    width: 60%;
    background: #0750da;
    color: #ffffff;
    font-weight: bold;
    transition: all linear 0.5s;
    box-shadow: -1px -1px 3px #000
}

.btn-escolha {
    margin-top: 15%;
}

.form-cad {
    padding: 15px;
    border-radius: 5px;
    background: #2b2b2b;
}
input {
    background: #333 !important;
    color: #f0a22e !important;
    border: none !important;
}

 input:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 238, 0, 0.6) !important;
    }

    input::placeholder {
        color: #f0a22e !important;
    }

select {
    background: #333 !important;
    color: #f0a22e !important;
    border: none !important;
}
.btn-salvar {
    width: 100%;
    background: #d1a647;
    font-family: 'Raleway-Bold';
    font-size: 1vw;
    transition: all ease-in 0.5s;
    color: #ffffff;
}

    .btn-salvar:hover {
        background: #d1a647;
        font-family: 'Raleway-Bold';
        color: #ffffff;
        transition: all ease-in 0.5s;
    }
.menu-site-pqno {
    background: #5c7886;
    height: 50px;
    position: fixed;
    z-index: 1;
    box-shadow: 1px 1px 3px rgb(51, 51, 51);
    top: 50px;
    transition: linear all 0.5s;
}

.menu-site-pqno .cotacao {
    color: #ffffff;
    font-family: 'Raleway-Bold';
    transition: linear all 0.5s;
    margin-top: 10px;
}

.menu-site-pqno .cotacao input {
    color: #ffffff;
    height: 34px;
    width: 100%;
    background: transparent;
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    font-family: 'Raleway-Bold';
    line-height: 150px;
    transition: linear all 0.5s;
}

.menu-site-pqno .cotacao .glyphicon {
    position: absolute;
    top: 10px;
    right: 30px;
    transition: linear all 0.5s;
}

.menu-site-pqno .cotacao input::placeholder {
    color: #ffffff;
    transition: linear all 0.5s;
}

.menu-site-pqno .cotacao .btn-cotacao {
    width: 100%;
    color: #5c7886;
    background: #ffffff;
    float: right;
    transition: linear all 0.5s;
}

.menu-site-pqno .cotacao .btn-cotacao:hover {
    color: #ffffff;
    background: salmon;
    float: right;
    transition: linear all 0.5s;
}

.menu-site-pqno .botoes .btn-menu {
    cursor: pointer;
    font-family: 'Raleway-Regular';
    font-size: 20px;
    transition: linear all 0.5s;
}

.menu-site-pqno .botoes .btn-menu:hover {
    text-decoration: underline;
    text-underline-position: under;
    font-family: 'Raleway-ExtraBold';
    transition: linear all 1s;
}

.propagandas {
    min-height: 200px;
    background: #5c7886;
    color: #ffffff;
    float: left;
}

.propagandas h2 {
    font-family: 'Raleway-Bold';
}

.propagandas h2 span {
    letter-spacing: -4px;
}

.footer-site-home {
    background: #5c7886;
    height: 50px;
    transition: linear all 0.5s;
}

.footer-site {
    background: #d1a647;
    height: 50px;
    transition: linear all 0.5s;
    position: fixed;
    bottom: 0;
}

.glyphicon-menu-hamburger {
    position: absolute;
    top: 19px;
    left: 0;
    cursor: pointer;
}

.drillDrop {
    cursor: pointer;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #d1a647;
}

.conteudo {
    margin-top: 150px;
    margin-bottom: 60px;
}

.tetoFarmacia {
    position: absolute;
    right: 154px;
    top: 14px;
    font-size: 10px;
}

.active {
    text-decoration: underline!important;
    text-underline-position: under!important;
    font-family: 'Raleway-ExtraBold'!important;
}

.btn-buscar {
    width: 100%;
    color: #fff;
    background: #11a1bb;
    transition: linear all 0.5s;
}

.btn-buscar:hover {
    width: 100%;
    color: #fff;
    background: salmon;
    transition: linear all 0.5s;
}

.table-borded tr {
    height: 34px!important;
}

.table-borded td {
    border: 1px solid #ddd!important;
    height: 34px!important;
}

.btn-pesquisa {
    padding-top: 3px;
}

.lista-site {
    background: #d0f1ee;
    line-height: 50px;
    height: 50px;
    transition: linear all 0.5s;
}

.bg-azul-claro {
    background: #7ce1f3!important;
}

.detalhe-btn {
    cursor: pointer;
    transition: linear all 0.5s;
}

.detalhe-btn:hover {
    cursor: pointer;
    transition: linear all 0.5s;
    background: #5c7886;
    color: #ffffff;
}

.remover-btn {
    cursor: pointer;
    transition: linear all 0.5s;
}

.remover-btn:hover {
    cursor: pointer;
    background: #d84545;
    color: #ffffff;
    transition: linear all 0.5s;
}

.galeria {
    padding: 10px;
    text-align: center;
}

.galeria img {
    width: 70%;
    box-shadow: 4px 4px 4px 0px #ccc;
}

.input-group input,
.btn-quantidade {
    border-color: #f7f7f7;
    box-shadow: none!important;
}

.btn-quantidade {
    background: #f7f7f7;
    color: #11a1bb;
    transition: linear all 0.5s;
}

.btn-quantidade:hover {
    background: #11a1bb;
    color: #ffffff;
    transition: linear all 0.5s;
}

.preco {
    color: #11a1bb;
    font-size: 30px;
    font-family: 'Raleway-ExtraBold';
}

.menu-lateral {
    border: 1px solid #c2c2c2;
    padding: 8px;
    transition: linear all 0.5s;
    margin-bottom: -1px;
    cursor: pointer;
}

.menu-lateral:hover {
    border: 1px solid #c2c2c2;
    padding: 8px;
    font-family: 'Raleway-Bold';
    background: #dcdcdc;
    transition: linear all 0.5s;
}

.menu-lateral.active {
    border: 1px solid #c2c2c2;
    padding: 8px;
    font-family: 'Raleway-ExtraBold';
    background: #dcdcdc;
    text-decoration: none!important;
    transition: linear all 0.5s;
}

.btn-inicio {
    text-align: center;
    border: 1px solid #dcdcdc;
    padding: 40px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-inicio:hover {
    text-align: center;
    border: 1px solid #c2c2c2;
    padding: 40px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Raleway-Bold';
    background: #dcdcdc;
    transition: linear all 0.5s;
}

.btn-inicio img {
    transform: rotate(0deg);
    transition: linear all 0.5s;
}

.btn-inicio:hover img {
    transform: rotate(360deg);
    transition: linear all 0.5s;
}

.input-oferta {
    width: 80%;
    float: left;
}

.oferta-table tr td {
    line-height: 34px!important;
}

input[type=checkbox] {
    background: transparent!important;
    margin: 0!important;
    border: none!important;
    box-shadow: none!important;
}

.alert-warning {
    background: #ee7720!important;
    color: #ffffff!important;
}

.btn-warning-oferta {
    background: transparent;
}

.chat-mostra {
    width: 50%!important;
    position: fixed!important;
    bottom: 50px!important;
    right: 40px!important;
    background: #f6f6f6!important;
    box-shadow: 2px -2px 3px #999!important;
    height: 500px!important;
    padding: 0!important;
    z-index: 999999!important;
    overflow-x: auto!important;
    transition: linear all 0.5s!important;
}

.chat-esconde {
    width: 50%;
    position: fixed;
    bottom: -588px;
    right: 40px;
    background: #f6f6f6;
    box-shadow: 2px -2px 3px #999;
    height: 500px;
    padding: 0;
    z-index: 999999;
    overflow-x: auto;
    transition: linear all 0.5s;
}

.chat-header {
    border-bottom: 1px solid #fff;
    padding: 20px;
    font-family: 'Raleway-ExtraBold';
    position: fixed;
    z-index: 999999;
    background: #f6f6f6;
    width: 50%;
    transition: linear all 0.5s!important;
}

.chat-body {
    padding: 20px;
    position: relative;
    z-index: 11111;
    background: #f6f6f6;
    margin: 60px 0;
    margin-bottom: 120px;
}

.mensagem-comprador {
    background: #7ce1f3;
    padding: 15px;
    width: 70%;
    position: relative;
    border-radius: 5px;
    margin-bottom: 15px;
    font-family: 'Raleway-Bold';
    left: 30%;
}

.mensagem-farmacia {
    background: #ccc;
    padding: 15px;
    width: 70%;
    position: relative;
    border-radius: 5px;
    margin-bottom: 15px;
    font-family: 'Raleway-Bold';
    transition: linear all 0.5s!important;
}

.chat-footer-esconde {
    position: fixed;
    bottom: -588px;
    width: 50%;
    padding: 20px;
    z-index: 999999;
    background: #f6f6f6;
    border-top: solid 1px #ffffff;
    transition: linear all 0.5s!important;
}

.chat-footer-mostra {
    position: fixed;
    bottom: 50px;
    width: 50%;
    padding: 20px;
    z-index: 999999;
    background: #f6f6f6;
    border-top: solid 1px #ffffff;
}

.chat-footer-mostra textarea {
    border: none!important;
    background: #f6f6f6!important;
    box-shadow: none!important;
}

.fecha-chat {
    cursor: pointer;
}

.glyphicon-menu-down {
    transition: linear all 0.5s!important;
}

.glyphicon-menu-up {
    transition: linear all 0.5s!important;
}

.pdl-0 {
    padding-left: 0!important;
}

.pdr-0 {
    padding-right: 0!important;
}

.perfil-form {
    z-index: 0!important;
}

.perfil-form .input-group input {
    border-color: #dddddd!important;
    border-radius: 0;
    z-index: 1!important;
}

.btn-proprietario {
    border-color: #dddddd!important;
    border-radius: 0;
}

.img-perfil {
    border: 1px solid #dddddd;
}

.menu-lateral.active {
    border: 1px solid #c2c2c2;
    padding: 8px;
    font-family: 'Raleway-ExtraBold';
    background: #dcdcdc;
    text-decoration: none!important;
    transition: linear all 0.5s;
}

.glyphicon {
    cursor: pointer;
}