/* font-face inicio*/

@font-face {
font-family: 'Raleway-Black';
src: url("../../assets/fonts/Raleway-Black.ttf") format("truetype");
}
@font-face {
font-family: 'Raleway-BlackItalic';
src: url("../../assets/fonts/Raleway-BlackItalic.ttf") format("truetype");
}
@font-face {
font-family: 'Raleway-Bold';
src: url("../../assets/fonts/Raleway-Bold.ttf") format("truetype");
}
@font-face {
font-family: 'Raleway-BoldItalic';
src: url("../../assets/fonts/Raleway-Raleway-BoldItalic.ttf") format("truetype");
}
@font-face {
font-family: 'Raleway-ExtraBold';
src: url("../../assets/fonts/Raleway-ExtraBold.ttf") format("truetype");
}
@font-face {
font-family: 'Raleway-ExtraBoldItalic';
src: url("../../assets/fonts/Raleway-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
font-family: 'Raleway-ExtraLight';
src: url("../../assets/fonts/Raleway-ExtraLight.ttf") format("truetype");
}
@font-face {
font-family: 'Raleway-ExtraLightItalic';
src: url("../../assets/fonts/Raleway-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
font-family: 'Raleway-Italic';
src: url("../../assets/fonts/Raleway-Italic.ttf") format("truetype");
}
@font-face {
font-family: 'Raleway-Light';
src: url("../../assets/fonts/Raleway-Light.ttf") format("truetype");
}
@font-face {
font-family: 'Raleway-LightItalic';
src: url("../../assets/fonts/Raleway-LightItalic.ttf") format("truetype");
}
@font-face {
font-family: 'Raleway-Medium';
src: url("../../assets/fonts/Raleway-Medium.ttf") format("truetype");
}
@font-face {
font-family: 'Raleway-MediumItalic';
src: url("../../assets/fonts/Raleway-MediumItalic.ttf") format("truetype");
}
@font-face {
font-family: 'Raleway-Regular';
src: url("../../assets/fonts/Raleway-Regular.ttf") format("truetype");
}
@font-face {
font-family: 'Raleway-SemiBold';
src: url("../../assets/fonts/Raleway-SemiBold.ttf") format("truetype");
}
@font-face {
font-family: 'Raleway-SemiBoldItalic';
src: url("../../assets/fonts/Raleway-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
font-family: 'Raleway-Thin';
src: url("../../assets/fonts/Raleway-Thin.ttf") format("truetype");
}
@font-face {
font-family: 'Raleway-ThinItalic';
src: url("../../assets/fonts/Raleway-ThinItalic.ttf") format("truetype");
}

/* font-face fim*/

@media only screen and (max-width: 1199px) 
{
	.bg-box1 {height: 982px!important;}

	.logo{height: 46px!important;
		  margin-top:45px!important;}

	.menu-burger{width: 25px;
				height: 25px;
				font-size: 18px!important;
				margin-top:45px!important;}

	.box2{margin-top: -90px!important;
		  margin-bottom: 20px!important;}

	.box2 h3{font-size: 20px!important;
			margin-bottom: 30px!important;}

	.box2-text{width: 400px!important;}

	.box3{height: 300px!important;}

	.box3-text{margin-top: 5px!important;}

	.box3-text h2{font-size: 25px;
				  margin-top: 1px!important;}

	.box3-text h3{font-size: 50px;
				  margin-top: -15px;
				  margin-bottom: 0px!important;}

	.box3-text p{font-size: 14px!important;
				 line-height: 14px;
				 width: 424px!important;}

	.box3 img{margin-top: 110px;}

	.box4{height: 708px!important;}

	.box4 h2{font-size: 65px!important;
			 padding-top: 82px!important;
			 padding-left: 47px!important;}
}

@media only screen and (max-width:992px) 
{
	.logo{margin-top:35px!important;
		  height: 40px!important;}

	.menu-burger{margin-top:35px!important;}

	.box1-txt{padding-top: 10px!important;}

	.box1-txt h2{font-size: 37px!important;}

	.box1-txt p{font-size: 25px!important;}

	.box2{margin-top: -250px!important;
		  margin-bottom: 20px!important}

	.box2-sem{border-right: none!important;
			  text-align: center!important;}

	.box2-sem p{text-align: justify!important;
				margin-left: 180px!important;}

	.box2-text{width: 300px!important;}

	.box2-serv{padding-top: 20px!important;
			   margin-left: 260px;}

	.box2-serv h2{font-size: 19px;
				  margin-left: 25px;}

	.box2-serv ul{margin-left: -24px;}

	.box3{height: 252px!important;}

	.box3-text p{width: 554px!important;}

	.box3 img{display: none;}

	.box3-text p{width: 424px!important;}

	.box4{height: 584px!important;}

	.box4 h2{font-size: 60px!important;
			 padding-top: 60px!important;
			 padding-left: 47px!important;}

	.box5{
		line-height: 38px;}

	.box5 h2{
		font-size: 22px;}

	.box5 span{
		font-size: 55px;}

	.box5 p {
		line-height: 15px!important;
		text-align: justify;}

	.box5-esq{
		padding-left: 82px!important;}

	.box5-dir{
		margin-left: 60px!important;
		padding-top: 20px!important;
		width: 80%!important;
		margin-bottom: 50px!important;}

	.box5-inf, .box5-tit{
		line-height: 20px!important;}
}

@media only screen and (max-width:815px) 
{
	.logo{margin-top:18px!important;
		  height: 35px!important;}

	.menu-burger{margin-top:15px!important;}

	.box1-txt{padding-top: 6px!important;
		 	  line-height: 5px!important}

	.box1-txt h2{font-size: 33px!important;}

	.box1-txt p{font-size: 22px!important;}

	.box3{height: 213px!important}

	.box3-text p{width: 554px!important;
				 font-size: 13px!important;}

	.box3-text h2{font-size: 20px!important;
				  margin-top: 1px!important;}

	.box3-text h3{font-size: 30px!important;
				  margin-top: -15px;
				  margin-bottom: 0px!important;}

	.box4{height: 477px!important;}

	.box4 h2{font-size: 44px!important;
		     padding-top: 50px!important;
		     padding-left: 34px!important;}
}

@media only screen and (max-width:713px) 
{
	.logo{margin-top:20px!important;
		  height: 35px!important;}

	.menu-burger{margin-top:22px!important;}

	.box1-txt{padding-top: 3px!important;
			  line-height: 5px!important}

	.box1-txt h2{font-size: 28px!important;}

	.box1-txt p{font-size: 18px!important;}

	.box2{margin-top: -500px!important;
		  margin-bottom: 20px!important}

	.box2-sem h2, .box2-sem h3{margin-left: 40px!important;}

	.box2-sem p{text-align: justify!important;}

	.box2-text{width: 300px!important;}

	.box2-serv{padding-top: 10px!important;}

	.box2-serv h2{font-size: 19px;
				  margin-left: 15px;}

	.box2-serv ul{margin-left: -40px!important;}

	.box3{background: url('../../assets/img/bgbx3-2.png')!important;
		 background-repeat: no-repeat;
	    background-size:100%!important;
	    padding: 0!important;
	    position: relative!important;
	    z-index: 999;
	    top: 0px;
	    transition: linear all 0.5s;}

	.box3-text p{width: 500px!important;
				 font-size: 13px!important;}

	.box3-text h2{font-size: 17px!important;
				  margin-top: 1px!important;}

	.box3-text h3{font-size: 25px!important;
				  margin-top: -15px;
				  margin-bottom: 0px!important;}

	.box4{height: 416px!important;}

	.box4 h2{font-size: 40px!important;
		     padding-top: 45px!important;
		     padding-left: 30px!important;
		 	 text-shadow: -4px -4px #e93f5f!important;}
}

@media only screen and (max-width:681px) 
{
	.box1-txt{padding-top: 0px!important;}

	.box1-txt h2{font-size: 28px!important;}

	.box1-txt p{font-size: 18px!important;}
}

@media only screen and (max-width:608px) 
{
	.logo{margin-top:10px!important;
		  height: 30px!important;}

	.menu-burger{margin-top:10px!important;}

	.box1-txt{margin-top: -5px!important;}

	.box1-txt h2{font-size: 23px!important;}

	.box1-txt p{font-size: 15px!important;}

	.box2{margin-top: -570px!important;
		  margin-left: -80px;}
	.box2-sem h2, .box2-sem h3{margin-left: 70px!important;}

	.box3{background: url('../../assets/img/bgbx3-2.png')!important;
		 background-repeat: no-repeat;
	    background-size:100%!important;
	    padding: 0!important;
	    position: relative!important;
	    z-index: 999;
	    top: 0px;
	    transition: linear all 0.5s;}

	.box3-text p{width: 409px!important;
				 font-size: 10px!important;}

	.box3-text h2{font-size: 15px!important;
				  margin-top: 1px!important;}

	.box3-text h3{font-size: 20px!important;
				  margin-top: -15px;
				  margin-bottom: 0px!important;}

	.box4{height: 354px!important;}

	.box4 h2{font-size: 34px!important;
		     padding-top: 29px!important;
		     padding-left: 29px!important;
		 	 text-shadow: -5px -4px #e93f5f!important;}	

	.box5{
		line-height: 35px;}

	.box5 h2{
		font-size: 20px;}

	.box5 span{
		font-size: 50px;}

	.box5 p {
		line-height: 13px!important;
		text-align: justify;}

	.box5-esq{
		padding-left: -5px!important;}

	.box5-dir{
		margin-left: 50px!important;
		padding-top: 40px!important;
		width: 80%!important;}

	.box5-inf, .box5-tit{
		line-height: 16px!important;}
}

@media only screen and (max-width: 492px) 
{
	.bgbox1{height: 384px!important;}

	.box1-txt{margin-top: -10px!important;}

	.box1-txt h2{font-size: 20px!important;}

	.box1-txt p{font-size: 12px!important;}

	.box2{margin-top: -700px!important;
		  margin-left: -120px;}

	.box2-sem h2, .box2-sem h3{margin-left: 150px!important;}

	.box3-text p{width: 310px!important;
				 font-size: 10px!important;
				 line-height: 12px!important;}

	.box3-text h2{font-size: 15px!important;
				  margin-top: 1px!important;}

	.box3-text h3{font-size: 20px!important;
				  margin-top: -15px;
				  margin-bottom: 0px!important;}

	.box4{height: 275px!important;}

	.box4 h2{font-size: 27px!important;
		     padding-top: 20px!important;
		     padding-left: 23px!important;
		 	 text-shadow: -4px -3px #e93f5f!important;}	

	.box5-esq{margin-left: -20px!important;}
}

body, html{
	min-height: 100%;
	height: 100%;
	min-width: 100%;
	width: 100%;
	font-family: Raleway-ExtraLight!important;
	text-align: justify;
}

.bg_video{
	position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width:auto; 
	height:auto; 
	z-index: -1000;
	background: url('../../Assets/img/reuniao.jpg') no-repeat;
	background-size: cover; 
}

.menu-burger{
	color:#fff!important;
	font-size: 28px;
	margin-top: 60px;
	font-weight: lighter;
	transition: linear all 0.5s;
}

.menu-burger:hover{
	cursor: pointer;
}

.logo{
	height: 56px;
	margin-top: 33px;
	transition: linear all 0.5s;
}

.logo-cor img{
	display: none;
}

.hand{
	width: 100%;
	margin-top: -26.95%;
}

.box1-txt{
	padding-top: 20px;
	transition: linear all 0.5s;
}

.box1-txt h2, .box1-txt p{
	color: #fff;
	text-align: center!important;
	transition: linear all 0.5s;
}

.box1-txt h2{
	font-family: Raleway-Thin;
	font-size: 45px;
	transition: linear all 0.5s;
}

.box1-txt p{
	font-family: Raleway-ExtraBold;
	font-size: 30px;
	transition: linear all 0.5s;
}

.box2{
	background-color: #fff;
	margin-top: 1016px;
	transition: linear all 0.5s;
	height: 315px;
}

.box2-ali{
	margin-top: 1%!important;
}

.box2 h3{
	font-family: Raleway-ExtraBold;
	font-size: 20px;
	margin-top: 1px!important;
	margin-bottom: 30px!important;
	transition: linear all 0.5s;
}

.box2-sem{
	border-right: 1px solid #adadad;
	transition: linear all 0.5s;
}

.box2-text{
	width: 500px;
	transition: linear all 0.5s;
}

.box2-serv{
	padding-top: 50px;
	transition: linear all 0.5s;
}

.box2-serv h2{
	font-size: 19px;
	font-family:Raleway-ExtraBold;
	transition: linear all 0.5s;
}

.box2-serv ul{
	margin-left: -24px;
	transition: linear all 0.5s;
}

.box3{
	background: url('../../assets/img/bgbx3.png');
	background-repeat: no-repeat;
    background-size:100%;
    padding: 0!important;
    position: relative!important;
    z-index: 999;
    top: 0px;
    transition: linear all 0.5s;
}

.box3-text{
	color: #fff;
	margin-top: 10px;
	transition: linear all 0.5s;
	margin-bottom: 17px;
}

.box3-text h2{
	font-size: 25px;
	font-family: Raleway-ExtraBold;
	transition: linear all 0.5s;
}

.box3-text h3{
	transition: linear all 0.5s;
	font-family: Raleway-thin;
	font-size: 50px;
	margin-top: -10px;
	margin-bottom: 20px;
}

.box3-text p{
	transition: linear all 0.5s;
	font-size: 15px;
	line-height: 15px;
}

.box3 img{
	transition: linear all 0.5s;
	margin-top: 130px;
}

.box4{
	background: url('../../assets/img/bgleaf.png');
	background-repeat: no-repeat;
    background-size:100%;
    padding: 0!important;
    position: relative!important;
    z-index: 999;
    top: 0px;
    transition: linear all 0.5s;

}

.compliance{
	margin-top: -14.9%;
}

.box4 h2{
	color: #fff;
	text-align: center;
	font-family: Raleway-thin;
	font-size: 72px;
	padding-top: 92px;
	padding-left: 50px;
	text-shadow: -8px -7px #e93f5f;
	transition: linear all 0.5s;
}
.loading h2{
	color: #fff;
	text-align: center;
	font-family: Raleway-thin;
	font-size: 72px;
	padding-top: 92px;
	padding-left: 50px;
	text-shadow: -8px -7px #e93f5f;
	transition: linear all 0.5s;
}
.box5{
	line-height: 42px;
	background-color: #fff!important;
	width: 100%!important;
}

.box5-ali{
}

.box5 h2{
	font-family: Raleway-ExtraBold;
	font-size: 35px;
	color: #000;
}

.box5 span{
	font-family: Raleway-Thin;
	font-size: 55px;
	color: #7fbc03;
}

.box5 p {
	line-height: 17px!important;
	text-align: justify;
	color: #000;
}

.box5-esq{
	padding-left: 82px!important;
	padding-top: 20px!important;
	padding-bottom: 50px!important;
}

.box5-dir{
	margin-left: 50px;
	padding-top: 50px;
}

.box5-tit{
	color: #7fbc03;
	font-family: Raleway-Bold;
}
.box5-inf{
	color: #000;
}

.box5-inf, .box5-tit{
	line-height: 20px!important;
} 

.ctto-info{
	margin-left: -10px;
	margin-top: -30px!important;
}

.btn-ctto{
	margin-top: 15px;
	font-family: Raleway-SemiBold;
	background-color: #7fbc03!important;
	color: #212f27!important;
	border-radius: 0px!important;
	border:none!important;
}

.img-map iframe{

	padding: 40px 37px 30px 66px;
}

.footer{
	color: #fff;
	border-top: 10px solid #7fbc03;
	background-color: #151d29;
}

.footer p{
	text-align: center;
	padding:50px;
	font-size: 9px;
}

.menu-burger{
	z-index: 9; 
	position: fixed;
	color:#fff!important;
	width: 32px;
	height: 32px;
	font-size: 28px;
	margin-top: 40px;
	font-weight: lighter;
	transition: linear all 0.5s;
}

.menu-fechado{

	width: 0%!important;
	height: 0%!important;
	border-radius: 999999px!important;
	position: absolute!important;
	bottom: -80px!important;
	left: -180px!important;
	color: #ffffff!important;
	z-index: 2000!important;
	padding: 40px!important;
	transition: all 0.1s ease-in!important;
}

.menu{
	width: 20%;
	height: 100%;
	border-radius: 0px;
	top: 0px;
	left: 0px;
	background-color: #81bd07;
	background-image: url(../../assets/img/bg-box1.png)!important;
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 10%;
	color: #ffffff;
	padding: 40px;
	transition: all 0.1s ease-in!important;
}

.menu .close{
	color: rgba(255, 255, 255, 0)!important;
	opacity: 100!important;
}

  