html {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body#roxo {
    background: #7f3081;
    padding: 20px 0px;
}

body#branco {
    background: #ffffff;
    padding: 20px 0px;
}

body #roxo .logo {
    text-align: center!important;
}

.botoes {
    position: absolute;
    left: 0;
    top: 35%;
}

.btn-app {
    width: 100%;
    background: #ffe34c;
    font-weight: bold;
    color: #7f3081;
    border-radius: 20px;
}

.btn-app-roxo {
    width: 100%;
    background: #7f3081;
    font-weight: bold;
    color: #ffe34c;
    border-radius: 20px;
}

.formulario {
    position: absolute;
    left: 0;
    top: 20%;
}

input.cadastro-input {
    background: #7f3081!important;
    text-align: center;
    color: #ffe34c;
    border: solid 2px #ffe34c;
    border-radius: 20px;
    font-weight: bold;
}

input.cadastro-input::placeholder {
    color: rgba(255, 255, 255, 0.3);
    font-weight: bold;
}

.titulo {
    color: #ffffff;
    font-size: 20px;
}

.codigo {
    position: absolute;
    left: 0;
    top: 30%;
}

.termo {
    margin-top: 15px;
    text-align: justify;
}

.pd-0 {
    padding: 0!important;
}

.pagar {
    position: absolute;
    left: 0;
    top: 45%;
}

#qrcode {
    position: absolute;
    left: 0;
    top: 35%;
    text-align: center;
}

#qrcode img {
    margin: 0 auto;
    width: 60%;
}

.tempo {
    position: absolute;
    bottom: -100px;
    left: 0;
    text-align: center;
    color: #7f3081;
    font-size: 20px;
    font-weight: bold;
}

.fundo-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    background: rgba(253, 206, 50, 0.9);
}

.menu {
    position: relative;
    z-index: 9;
}

.btn-menu {
    position: relative;
    top: -45px;
    font-size: 20px;
    left: 5px;
}

.termo .compra {
    border: solid 1px #ddd!important;
    padding: 10px 0px!important;
    position: relative;
}